// @import 'name of file',__e, --m
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
#main-title{
  margin-bottom: 30px;
}
#cal-layout{
  padding: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#calculator{
  border: 1px solid black;
  margin-top: 30px;
  width: 50%;
}